files:
    /etc/nginx/conf.d/redirects/03.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/barbara-cox-revised-270/?$ https://$host/event/intensive-outpatient-program-iop-oxford/2016-04-11/ permanent;
            rewrite ^/2015/11/cuban-empathy-empowers-others-to-recovery/feed/?$ https://$host/blog/cuban-empathy-empowers-others-to-recovery/ permanent;
            rewrite ^/2015/11/this-place?$ https://$host/blog/this-place-saved-my-life/ permanent;
            rewrite ^/2014/12/crawford-named-employee-of-the-year/feed/?$ https://$host/blog/crawford-named-employee-of-the-year/ permanent;
            rewrite ^/2015/11/this-place-saved-my-life/feed/?$ https://$host/blog/this-place-saved-my-life/ permanent;
            rewrite ^/2016/05/legal-leverage-motivates-change/feed/?$ https://$host/blog/legal-leverage-motivates-change/ permanent;
            rewrite ^/2015/04/facing-recovery-as-an-older-adult/feed/?$ https://$host/blog/older-adults-addiction/ permanent;
    /etc/nginx/conf.d/redirects/04.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/2015/03/older-adults-addiction/feed/?$ https://$host/blog/older-adults-addiction/ permanent;
            rewrite ^/resource/get-help-for-yourself/?$ https://$host/ permanent;
            rewrite ^/2015/05/weekly-support-for-families-in-oxford-tupelo/?$ https://$host/blog/weekly-support-for-families/ permanent;
            rewrite ^/2015/10/creative?$ https://$host/blog/creative-expression/ permanent;
            rewrite ^/amenities/fitness/?$ https://$host/facilities/etta/ permanent;
            rewrite ^/amenities/gallery/?$ https://$host/facilities/etta/ permanent;
            rewrite ^/2016/01/in-discharge-planning-hope-is-contagious/feed/?$ https://$host/blog/in-discharge-planning-hope-is-contagious/ permanent;
            rewrite ^/_mg_1247-copy/?$ https://$host/ permanent;
            rewrite ^/about/philosphy/?$ https://$host/about/ permanent;
            rewrite ^/about/staff-bios/medical-staff/?$ https://$host/about/medical-staff/ permanent;
            rewrite ^/blog/alumni-event/?$ https://$host/blog/ permanent;
            rewrite ^/daniel-jensen/?$ https://$host/ permanent;
            rewrite ^/organizer/crossroads-human-resource-association/feed/?$ https://$host/ permanent;
            rewrite ^/organizer/foundations/feed/?$ https://$host/ permanent;
            rewrite ^/organizer/jenna-ward/feed/?$ https://$host/ permanent;
            rewrite ^/organizer/leslie-may/feed/?$ https://$host/ permanent;
            rewrite ^/organizer/magnolia-grove-meditation-practice-center/feed/?$ https://$host/ permanent;
            rewrite ^/organizer/mississippi-association-of-addiction-professionals/feed/?$ https://$host/ permanent;
            rewrite ^/organizer/mississippi-department-of-mental-healthmsap/feed/?$ https://$host/ permanent;
            rewrite ^/organizer/naatp/feed/?$ https://$host/ permanent;
            rewrite ^/organizer/national-association-of-therapeutic-schools-and-programs/feed/?$ https://$host/ permanent;
            rewrite ^/organizer/ncadd-central-mississippi/feed/?$ https://$host/ permanent;
            rewrite ^/organizer/professionals-health-network-inc/feed/?$ https://$host/ permanent;
            rewrite ^/organizer/um-collegiate-recovery-community/feed/?$ https://$host/ permanent;
            rewrite ^/organizer/unt-collegiate-recovery-program/feed/?$ https://$host/ permanent;
            rewrite ^/organizer/us-journals-training-inc/feed/?$ https://$host/ permanent;
            rewrite ^/resources/coming-to-the-oxford-centre/?$ https://$host/admissions/ permanent;
            rewrite ^/resources/News/?$ https://$host/about/newsletters/ permanent;
            rewrite ^/2017workshops/?$ https://$host/blog/2017workshops/ permanent;
            rewrite ^/animal-assisted-therapy/?$ https://$host/experiential-therapy/animal-assisted/ permanent;
            rewrite ^/paying-for-treatment/aarp/?$ https://$host/seniors/aarp/ permanent;
            rewrite ^/aftercare/12-step-program/?$ https://$host/12-step-program/ permanent;
            rewrite ^/relapse/?$ https://$host/detox/avoiding-triggers/ permanent;
            rewrite ^/heroin/opiates/?$ https://$host/opiates/ permanent;
            rewrite ^/antipsychotic-meds/?$ https://$host/co-occurring-disorders/schizophrenia/antipsychotics/ permanent;
            rewrite ^/bath-salts/?$ https://$host/synthetic-drugs/bath-salts/ permanent;
            rewrite ^/intervention/drug-addict/?$ https://$host/abuse/am-i-an-addict/ permanent;
            rewrite ^/program/experiential-therapy/?$ https://$host/experiential-therapy/ permanent;
            rewrite ^/psychotherapy/?$ https://$host/drug-therapy/psychotherapy/ permanent;
            rewrite ^/holistic-therapy/?$ https://$host/drug-therapy/holistic/ permanent;
            rewrite ^/cognitive-behavioral-therapy/?$ https://$host/drug-therapy/cognitive-behavioral/ permanent;
            rewrite ^/cognitive-behavioral-therapy/depression/?$ https://$host/drug-therapy/cognitive-behavioral/depression/ permanent;
            rewrite ^/dbt/?$ https://$host/drug-therapy/dbt/ permanent;
            rewrite ^/dbt/techniques/?$ https://$host/drug-therapy/dbt/techniques/ permanent;
            rewrite ^/contingency-management/?$ https://$host/drug-therapy/contingency-management/ permanent;
            rewrite ^/xanax/benzo/?$ https://$host/prescription-drug-abuse/benzos/ permanent;
            rewrite ^/drug-therapy/cost-difference/?$ https://$host/paying-for-treatment/inpatient-outpatient-cost-difference/ permanent;
            rewrite ^/drug-therapy/insurance/?$ https://$host/paying-for-treatment/insurance/ permanent;
            rewrite ^/signs/?$ https://$host/abuse/signs-of-needing-help/ permanent;
            rewrite ^/program/mindfulness-practice-for-relapse-prevention/?$ https://$host/mindfulness-practice/ permanent;
            rewrite ^/prescription-drug-abuse/codeine/?$ https://$host/codeine/ permanent;
            rewrite ^/prescription-drug-abuse/codeine-side-effects/?$ https://$host/codeine/side-effects/ permanent;
            rewrite ^/prescription-drug-abuse/concerta-withdrawal/?$ https://$host/ritalin/withdrawal/ permanent;
            rewrite ^/oxycontin/opioid-addiction/?$ https://$host/opiates/opioid-addiction/ permanent;
            rewrite ^/opiates/mixing/?$ https://$host/opiates/mixing-with-alcohol/ permanent;
            rewrite ^/drug-therapy/techniques/?$ https://$host/experiential-therapy/techniques/ permanent;
            rewrite ^/fentanyl/deadly-dose/?$ https://$host/fentanyl/lethal-dose/ permanent;
            rewrite ^/drug-therapy/group-and-individual/?$ https://$host/drug-therapy/individual-vs-group/ permanent;
            rewrite ^/oxford/?$ https://$host/facilities/oxford/ permanent;
            rewrite ^/tupelo/?$ https://$host/addiction-treatment-ms/facilities/ permanent;
            rewrite ^/facilities/tupelo/?$ https://$host/addiction-treatment-ms/facilities/ permanent;
            rewrite ^/olivebranch/?$ https://$host/facilities/olive-branch/ permanent;
            rewrite ^/blog/myth-7-cant-live-sober-college?$ https://$host/blog/myth-7-you-cant-have-fun-sober/ permanent;
            rewrite ^/blog/2017workshops/?$ https://$host/blog/addiction-faith-community/ permanent;
            rewrite ^/blog/workshop-series-announced/?$ https://$host/blog/addiction-faith-community/ permanent;
            rewrite ^/prescription-drug-abuse/codeine-side-effects/?$ https://$host/prescription-drug-abuse/codeine-side-effects/ permanent;
            rewrite ^/drug-therapy/choosing-luxury-rehab/?$ https://$host/luxury-vs-regular-rehab/choosing-a-center/ permanent;
            rewrite ^/dmt/?$ https://$host/hallucinogens/dmt/ permanent;
            rewrite ^/flakka/?$ https://$host/hallucinogens/flakka/ permanent;
            rewrite ^/baclofen/?$ https://$host/drug-therapy/baclofen/ permanent;
            rewrite ^/pcp/how-long/?$ https://$host/pcp/how-long-in-system/ permanent;
            rewrite ^/marijuana/symptoms/?$ https://$host/marijuana/symptoms-of-being-high/ permanent;
            rewrite ^/motivational-interviewing/stages/?$ https://$host/motivational-interviewing/stages-of-change/ permanent;
            rewrite ^/modafinil/?$ https://$host/drug-therapy/modafinil/ permanent;
            rewrite ^/vicodin/how-long/?$ https://$host/vicodin/how-long-in-system/ permanent;
            rewrite ^/detox/center/?$ https://$host/detox/finding-a-center/ permanent;
            rewrite ^/about/community-relations/?$ https://$host/about/outreach/ permanent;
            rewrite ^/forgiveness/?$ https://$host/blog/forgiveness-workshop/ permanent;
            rewrite ^/2018anniversary/?$ https://$host/blog/2018-anniversary-weekend/ permanent;
            rewrite ^/12-step-program/?$ https://$host/program/12-step-program/ permanent;
            rewrite ^/detox/home-detox/?$ https://$host/detox/at-home-dangers/ permanent;
            rewrite ^/hiddenaddictions/?$ https://$host/blog/hidden-addictions/ permanent;
            rewrite ^/therapeutic-contract/?$ https://$host/blog/continuing-education-lunch-learn-set-july-31/ permanent;
            rewrite ^/facilities/olive-branch/?$ https://$host/facilities/ permanent;
            rewrite ^/apixaban/withdrawal-symptoms/?$ https://$host/abuse/ permanent;
            rewrite ^/apixaban/signs-of-abuse/?$ https://$host/abuse/ permanent;
            rewrite ^/faq/?$ https://$host/admissions/what-to-expect/faq/ permanent;
            rewrite ^/families-residential-2/?$ https://$host/addiction-treatment-ms/what-to-expect/families/ permanent;
            #FACILITY-917
            rewrite ^/addiction-treatment-ms/admissions/what-to-expect/?$ https://$host/addiction-treatment-ms/admissions/ permanent;
            #SEO-967
            rewrite ^/substance-abuse/marijuana/addictive/?$ https://$host/substance-abuse/marijuana/ permanent;
            #FACILITY-1088
            rewrite ^/hippa-policy/?$ https://$host/hipaa-policy/ permanent;
            #FACILITY-1432
            rewrite ^/events/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/event/ https://$host/addiction-blog/ permanent;
            #FACILITY-1473
            rewrite ^/events/category/outpatient-services/?$ https://$host/addiction-treatment-ms/oxford/ permanent;
            rewrite ^/venue/oxford-outpatient-office/2/?$ https://$host/addiction-treatment-ms/oxford/ permanent;
            rewrite ^/about/addiction-blog/2774/?$ https://$host/addiction-blog/ permanent;
            #FACILITY-1726
            rewrite ^/hope/?$ https://$host/ permanent;
            rewrite ^/tv-campaign/?$ https://$host/ permanent;
            #FACILITY-1855
            rewrite ^/alcohol-drug-rehab-in-missisppi/?$ https://$host/alcohol-drug-rehab-in-mississippi/ permanent;
            #FACILITY-1893
            rewrite ^/about/experiential-learning/?$ https://$host/about/careers-at-oxford/ permanent;
            rewrite ^/about/medical-staff/?$ https://$host/about/careers-at-oxford/ permanent;
            rewrite ^/about/clinical-staff/?$ https://$host/about/careers-at-oxford/ permanent;
            rewrite ^/about/outreach/?$ https://$host/about/careers-at-oxford/ permanent;
            rewrite ^/bht/?$ https://$host/about/careers-at-oxford/ permanent;
            rewrite ^/addiction-treatment/drug-therapy/dbt/techniques/?$ https://$host/addiction-treatment/drug-therapy/dbt/ permanent;
            #FACILITY-2875
            rewrite ^/about/addiction-blog/college-drug-arrest-statistics/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/about/addiction-blog/$ https://$host/addiction-blog/ permanent;
            rewrite ^/about/addiction-blog/(.+) https://$host/blog/$1 permanent;
            rewrite ^/about/addiction-blog/tag/$ https://$host/blog/tag/ permanent;
            rewrite ^/about/addiction-blog/tag/(.+) https://$host/blog/tag/$1 permanent;
