files:
    /etc/nginx/conf.d/redirects/00.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/program/?$ https://$host/addiction-treatment-ms/ permanent;
            rewrite ^/program/residential-treatment/?$ https://$host/addiction-treatment-ms/residential-treatment/ permanent;
            rewrite ^/program/young-adult-program/?$ https://$host/addiction-treatment-ms/young-adult-program/ permanent;
            rewrite ^/program/levels-of-care/?$ https://$host/addiction-treatment-ms/levels-of-care/ permanent;
            rewrite ^/program/our-therapies/?$ https://$host/addiction-treatment-ms/our-therapies/ permanent;
            rewrite ^/program/trauma-track/?$ https://$host/addiction-treatment-ms/trauma-track/ permanent;
            rewrite ^/program/aftercare-alumni-program/?$ https://$host/addiction-treatment-ms/aftercare-alumni-program/ permanent;
            rewrite ^/facilities/?$ https://$host/addiction-treatment-ms/facilities/ permanent;
            rewrite ^/facilities/etta/?$ https://$host/addiction-treatment-ms/etta/ permanent;
            rewrite ^/facilities/features-etta/?$ https://$host/addiction-treatment-ms/features-etta/ permanent;
            rewrite ^/facilities/oxford/?$ https://$host/addiction-treatment-ms/oxford/ permanent;
            rewrite ^/facilities/features-oxford/?$ https://$host/addiction-treatment-ms/features-oxford/ permanent;
            rewrite ^/resource-center/?$ https://$host/addiction-resources-center/ permanent;
            rewrite ^/admissions$ /addiction-treatment-ms/admissions/ permanent;
            rewrite ^/admissions/(.*)$ /addiction-treatment-ms/admissions/$1 permanent;
            rewrite ^/addiction-treatment-ms/what-to-expect/families/?$ https://$host/addiction-treatment-ms/admissions/what-to-expect/families/ permanent;
            rewrite ^/addiction-treatment-ms/what-to-expect/families/after-rehab/?$ https://$host/addiction-treatment-ms/admissions/what-to-expect/families/after-rehab/ permanent;
            rewrite ^/addiction-treatment-ms/what-to-expect/families/faq/?$ https://$host/addiction-treatment-ms/admissions/what-to-expect/faq/ permanent;
            rewrite ^/addiction-treatment-ms/what-to-expect/?$ https://$host/addiction-treatment-ms/admissions/what-to-expect/ permanent;
            rewrite ^/synthetic-drugs/withdrawal/?$ https://$host/substance-abuse/synthetic-drugs/withdrawal/ permanent;
            rewrite ^/synthetic-drugs/thozalinone/?$ https://$host/substance-abuse/synthetic-drugs/thozalinone/ permanent;
            rewrite ^/synthetic-drugs/spice-abuse/southern-stats/?$ https://$host/substance-abuse/synthetic-drugs/spice-abuse/southern-stats permanent;
            rewrite ^/synthetic-drugs/spice-abuse/?$ https://$host/substance-abuse/synthetic-drugs/spice-abuse/ permanent;
            rewrite ^/rivaroxaban/?$ https://$host/substance-abuse/rivaroxaban/ permanent;
            rewrite ^/substance-abuse/synthetic-drugs/rivaroxaban/?$ https://$host/prescription-drug-abuse/ permanent;
            rewrite ^/synthetic-drugs/marijuana/?$ https://$host/substance-abuse/synthetic-drugs/marijuana/ permanent;
            rewrite ^/synthetic-drugs/hexen/?$ https://$host/substance-abuse/synthetic-drugs/hexen/ permanent;
            rewrite ^/synthetic-drugs/bath-salts/?$ https://$host/substance-abuse/synthetic-drugs/bath-salts/ permanent;
            rewrite ^/synthetic-drugs/25i/?$ https://$host/substance-abuse/synthetic-drugs/25i/ permanent;
            rewrite ^/synthetic-drugs/?$ https://$host/substance-abuse/synthetic-drugs/ permanent;
            rewrite ^/south-addiction-guide/montgomery-alabama/?$ https://$host/substance-abuse/south-addiction-guide/montgomery-alabama/ permanent;
            rewrite ^/south-addiction-guide/mobile-alabama/?$ https://$host/substance-abuse/south-addiction-guide/mobile-alabama/ permanent;
            rewrite ^/south-addiction-guide/meth-in-the-south/?$ https://$host/substance-abuse/south-addiction-guide/meth-in-the-south/ permanent;
            rewrite ^/south-addiction-guide/memphis-tn/?$ https://$host/substance-abuse/south-addiction-guide/memphis-tn/ permanent;
            rewrite ^/south-addiction-guide/jackson-ms/?$ https://$host/substance-abuse/south-addiction-guide/jackson-ms/ permanent;
            rewrite ^/south-addiction-guide/fayetteville-nc/?$ https://$host/substance-abuse/south-addiction-guide/fayetteville-nc/ permanent;
            rewrite ^/south-addiction-guide/charlotte-nc/?$ https://$host/substance-abuse/south-addiction-guide/charlotte-nc/ permanent;
            rewrite ^/south-addiction-guide/birmingham-alabama/?$ https://$host/substance-abuse/south-addiction-guide/birmingham-alabama/ permanent;
            rewrite ^/south-addiction-guide/biloxi/?$ https://$host/substance-abuse/south-addiction-guide/biloxi/ permanent;
            rewrite ^/south-addiction-guide/?$ https://$host/substance-abuse/south-addiction-guide/ permanent;
            rewrite ^/abuse/signs-of-needing-help/?$ https://$host/substance-abuse/signs-of-needing-help/ permanent;
            rewrite ^/rivaroxaban/withdrawal-symptoms/?$ https://$host/substance-abuse/rivaroxaban/withdrawal-symptoms/ permanent;
            rewrite ^/rivaroxaban/signs-abuse/?$ https://$host/substance-abuse/rivaroxaban/signs-abuse/ permanent;
            rewrite ^/pcp/how-long-in-system/?$ https://$host/substance-abuse/pcp/how-long-in-system/ permanent;
            rewrite ^/pcp/?$ https://$host/substance-abuse/pcp/ permanent;
            rewrite ^/microdosing/?$ https://$host/substance-abuse/microdosing/ permanent;
            rewrite ^/marijuana/youth-marijuana-use-state/?$ https://$host/substance-abuse/marijuana/youth-marijuana-use-state/ permanent;
            rewrite ^/marijuana/withdrawal/?$ https://$host/substance-abuse/marijuana/withdrawal/ permanent;
            rewrite ^/marijuana/wax/?$ https://$host/substance-abuse/marijuana/wax/ permanent;
            rewrite ^/marijuana/symptoms-of-being-high/?$ https://$host/substance-abuse/marijuana/symptoms-of-being-high/ permanent;
            rewrite ^/marijuana/spending-money/?$ https://$host/substance-abuse/marijuana/spending-money/ permanent;
            rewrite ^/marijuana/depersonalization/?$ https://$host/substance-abuse/marijuana/depersonalization/ permanent;
            rewrite ^/marijuana/cold-turkey/?$ https://$host/substance-abuse/marijuana/cold-turkey/ permanent;
            rewrite ^/marijuana/body-high/?$ https://$host/substance-abuse/marijuana/body-high/ permanent;
            rewrite ^/marijuana/average-cost-of-marijuana/?$ https://$host/substance-abuse/marijuana/average-cost-of-marijuana/ permanent;
            rewrite ^/marijuana/addictive/?$ https://$host/substance-abuse/marijuana/addictive/ permanent;
            rewrite ^/lgbtq/?$ https://$host/substance-abuse/lgbtq/ permanent;
            rewrite ^/kratom/withdrawal/?$ https://$host/substance-abuse/kratom/withdrawal/ permanent;
            rewrite ^/kratom/tolerance/?$ https://$host/substance-abuse/kratom/tolerance/ permanent;
            rewrite ^/kratom/?$ https://$host/substance-abuse/kratom/ permanent;
            rewrite ^/khat/?$ https://$host/substance-abuse/khat/ permanent;
            rewrite ^/inhalant/how-addictive/?$ https://$host/substance-abuse/inhalant/how-addictive/ permanent;
            rewrite ^/inhalant/?$ https://$host/substance-abuse/inhalant/ permanent;
            rewrite ^/heroin/withdrawal-timelines/?$ https://$host/substance-abuse/heroin/withdrawal-timelines/ permanent;
            rewrite ^/heroin/snorting/?$ https://$host/substance-abuse/heroin/snorting/ permanent;
            rewrite ^/heroin/shooting/?$ https://$host/substance-abuse/heroin/shooting/ permanent;
            rewrite ^/heroin/cold-turkey/?$ https://$host/substance-abuse/heroin/cold-turkey/ permanent;
            rewrite ^/heroin/?$ https://$host/substance-abuse/heroin/ permanent;
            rewrite ^/hallucinogens/salvia/?$ https://$host/substance-abuse/hallucinogens/salvia/ permanent;
            rewrite ^/hallucinogens/salvia-vs-dmt/?$ https://$host/substance-abuse/hallucinogens/salvia-vs-dmt/ permanent;
            rewrite ^/hallucinogens/mescaline/?$ https://$host/substance-abuse/hallucinogens/mescaline/ permanent;
            rewrite ^/hallucinogens/flakka/?$ https://$host/substance-abuse/hallucinogens/flakka/ permanent;
            rewrite ^/hallucinogens/dmt/?$ https://$host/substance-abuse/hallucinogens/dmt/ permanent;
            rewrite ^/hallucinogens/?$ https://$host/substance-abuse/hallucinogens/ permanent;
            rewrite ^/ghb/withdrawal/?$ https://$host/substance-abuse/ghb/withdrawal/ permanent;
            rewrite ^/ghb/in-system/?$ https://$host/substance-abuse/ghb/in-system/ permanent;
            rewrite ^/ghb/?$ https://$host/substance-abuse/ghb/ permanent;
            rewrite ^/fentanyl/withdrawal/?$ https://$host/substance-abuse/fentanyl/withdrawal/ permanent;
            rewrite ^/fentanyl/patch-tolerance/?$ https://$host/substance-abuse/fentanyl/patch-tolerance/ permanent;
            rewrite ^/fentanyl/mixing/?$ https://$host/substance-abuse/fentanyl/mixing/ permanent;
            rewrite ^/fentanyl/lethal-dose/?$ https://$host/substance-abuse/fentanyl/lethal-dose/ permanent;
            rewrite ^/fentanyl/?$ https://$host/substance-abuse/fentanyl/ permanent;
            rewrite ^/ecstasy/?$ https://$host/substance-abuse/ecstasy/ permanent;
            rewrite ^/drugs-and-pregnancy/?$ https://$host/substance-abuse/drugs-and-pregnancy/ permanent;
            rewrite ^/crystal-meth/withdrawal/?$ https://$host/substance-abuse/crystal-meth/withdrawal/ permanent;
            rewrite ^/crystal-meth/psychosis/?$ https://$host/substance-abuse/crystal-meth/psychosis/ permanent;
            rewrite ^/crystal-meth/physical-dangers/?$ https://$host/substance-abuse/crystal-meth/physical-dangers/ permanent;
            rewrite ^/crystal-meth/induced-hallucinations/?$ https://$host/substance-abuse/crystal-meth/induced-hallucinations/ permanent;
            rewrite ^/crystal-meth/how-long/?$ https://$host/substance-abuse/crystal-meth/how-long/ permanent;
            rewrite ^/crystal-meth/how-its-made/?$ https://$host/substance-abuse/crystal-meth/how-its-made/ permanent;
            rewrite ^/crystal-meth/comedown/?$ https://$host/substance-abuse/crystal-meth/comedown/ permanent;
            rewrite ^/crystal-meth/?$ https://$host/substance-abuse/crystal-meth/ permanent;
            rewrite ^/codeine/vs-percocet/?$ https://$host/substance-abuse/codeine/vs-percocet/ permanent;
            rewrite ^/cocaine/spending-money/?$ https://$host/substance-abuse/cocaine/spending-money/ permanent;
            rewrite ^/codeine/side-effects/?$ https://$host/substance-abuse/codeine/side-effects/ permanent;
            rewrite ^/codeine/?$ https://$host/substance-abuse/codeine/ permanent;
            rewrite ^/cocaine/withdrawal/?$ https://$host/substance-abuse/cocaine/withdrawal/ permanent;
            rewrite ^/cocaine/danger/?$ https://$host/substance-abuse/cocaine/danger/ permanent;
            rewrite ^/cocaine/crack-vs-cocaine/?$ https://$host/substance-abuse/cocaine/crack-vs-cocaine/ permanent;
            rewrite ^/cocaine/?$ https://$host/substance-abuse/cocaine/ permanent;
            rewrite ^/co-occurring-disorders/stress/?$ https://$host/substance-abuse/co-occurring-disorders/stress permanent;
            rewrite ^/co-occurring-disorders/social-anxiety/?$ https://$host/substance-abuse/co-occurring-disorders/social-anxiety permanent;
            rewrite ^/co-occurring-disorders/schizophrenia/?$ https://$host/substance-abuse/co-occurring-disorders/schizophrenia permanent;
            rewrite ^/co-occurring-disorders/ptsd/triggers/?$ https://$host/substance-abuse/co-occurring-disorders/ptsd/triggers permanent;
            rewrite ^/co-occurring-disorders/ptsd/?$ https://$host/substance-abuse/co-occurring-disorders/ptsd permanent;
            rewrite ^/co-occurring-disorders/ocd/?$ https://$host/substance-abuse/co-occurring-disorders/ocd permanent;
            rewrite ^/co-occurring-disorders/mental-health/?$ https://$host/substance-abuse/co-occurring-disorders/mental-health permanent;
            rewrite ^/eating-disorders/ednos/?$ https://$host/substance-abuse/co-occurring-disorders/eating-disorders/ednos permanent;
            rewrite ^/eating-disorders/?$ https://$host/substance-abuse/co-occurring-disorders/eating-disorders permanent;
            rewrite ^/co-occurring-disorders/depression/?$ https://$host/substance-abuse/co-occurring-disorders/depression permanent;
            rewrite ^/co-occurring-disorders/borderline-personality-disorder/?$ https://$host/substance-abuse/co-occurring-disorders/borderline-personality-disorder permanent;
            rewrite ^/co-occurring-disorders/anxiety/panic-disorder/?$ https://$host/substance-abuse/co-occurring-disorders/anxiety/panic-disorder permanent;
            rewrite ^/co-occurring-disorders/anxiety/?$ https://$host/substance-abuse/co-occurring-disorders/anxiety permanent;
            rewrite ^/co-occurring-disorders/schizophrenia/antipsychotics/?$ https://$host/substance-abuse/co-occurring-disorders/antipsychotics permanent;
            rewrite ^/co-occurring-disorders/antidepressants-and-drug-abuse/?$ https://$host/substance-abuse/co-occurring-disorders/antidepressants-and-drug-abuse permanent;
            rewrite ^/co-occurring-disorders/adjustment/?$ https://$host/substance-abuse/co-occurring-disorders/adjustment permanent;
            rewrite ^/co-occurring-disorders/?$ https://$host/substance-abuse/co-occurring-disorders/ permanent;
            rewrite ^/abuse/am-i-an-addict/?$ https://$host/substance-abuse/am-i-an-addict/ permanent;
            rewrite ^/alcohol-abuse/withdrawal/?$ https://$host/substance-abuse/alcohol/withdrawal/ permanent;
            rewrite ^/alcohol-abuse/underage-drinking-statistics-state/?$ https://$host/substance-abuse/alcohol/underage-drinking-statistics-state/ permanent;
            rewrite ^/alcohol-abuse/signs/?$ https://$host/substance-abuse/alcohol/signs/ permanent;
            rewrite ^/alcohol-abuse/pregnancy/?$ https://$host/substance-abuse/alcohol/pregnancy/ permanent;
            rewrite ^/alcohol-abuse/physical-effects/?$ https://$host/substance-abuse/alcohol/physical-effects/ permanent;
    /etc/nginx/conf.d/redirects/01.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/alcohol-abuse/kindling-effect/?$ https://$host/substance-abuse/alcohol/kindling-effect/ permanent;
            rewrite ^/alcohol-abuse/history-of-prohibition-and-moonshine/?$ https://$host/substance-abuse/alcohol/history-of-prohibition-and-moonshine/ permanent;
            rewrite ^/alcohol-abuse/genetic/?$ https://$host/substance-abuse/alcohol/genetic/ permanent;
            rewrite ^/alcohol-abuse/functioning-alcoholic/?$ https://$host/substance-abuse/alcohol/functioning-alcoholic/ permanent;
            rewrite ^/alcohol-abuse/family-member/?$ https://$host/substance-abuse/alcohol/family-member/ permanent;
            rewrite ^/alcohol-abuse/ethanol/?$ https://$host/substance-abuse/alcohol/ethanol/ permanent;
            rewrite ^/alcohol-abuse/curb-cravings/?$ https://$host/substance-abuse/alcohol/curb-cravings/ permanent;
            rewrite ^/alcohol-abuse/binge-drinking/?$ https://$host/substance-abuse/alcohol/binge-drinking/ permanent;
            rewrite ^/alcohol-abuse/and-valium/?$ https://$host/substance-abuse/alcohol/and-valium/ permanent;
            rewrite ^/alcohol-abuse/and-amphetamine/?$ https://$host/substance-abuse/alcohol/and-amphetamine/ permanent;
            rewrite ^/alcohol-abuse/alcoholic-quiz/?$ https://$host/substance-abuse/alcohol/alcoholic-quiz/ permanent;
            rewrite ^/alcohol-abuse/?$ https://$host/substance-abuse/alcohol/ permanent;
            rewrite ^/addictive-drugs/hardest-to-quit/?$ https://$host/substance-abuse/addictive-drugs/hardest-to-quit/ permanent;
            rewrite ^/addictive-drugs/?$ https://$host/substance-abuse/addictive-drugs/ permanent;
            rewrite ^/abuse/?$ https://$host/substance-abuse/ permanent;
            rewrite ^/xanax/withdrawal/?$ https://$host/prescription-drug-abuse/xanax/withdrawal/ permanent;
            rewrite ^/xanax/tapering-off/?$ https://$host/prescription-drug-abuse/xanax/tapering-off/ permanent;
            rewrite ^/xanax/klonopin-vs-xanax/?$ https://$host/prescription-drug-abuse/xanax/klonopin-vs-xanax/ permanent;
            rewrite ^/xanax/detox/?$ https://$host/prescription-drug-abuse/xanax/detox/ permanent;
            rewrite ^/xanax/and-alcohol/?$ https://$host/prescription-drug-abuse/xanax/and-alcohol/ permanent;
            rewrite ^/xanax/?$ https://$host/prescription-drug-abuse/xanax/ permanent;
            rewrite ^/vicodin/vs-percocet/?$ https://$host/prescription-drug-abuse/vicodin/vs-percocet/ permanent;
            rewrite ^/vicodin/how-long-in-system/?$ https://$host/prescription-drug-abuse/vicodin/how-long-in-system/ permanent;
            rewrite ^/vicodin/detox/?$ https://$host/prescription-drug-abuse/vicodin/detox/ permanent;
            rewrite ^/vicodin/and-alcohol/?$ https://$host/prescription-drug-abuse/vicodin/and-alcohol/ permanent;
            rewrite ^/vicodin/?$ https://$host/prescription-drug-abuse/vicodin/ permanent;
            rewrite ^/valium/side-effects/?$ https://$host/prescription-drug-abuse/valium/side-effects/ permanent;
            rewrite ^/valium/?$ https://$host/prescription-drug-abuse/valium/ permanent;
            rewrite ^/tuinal/?$ https://$host/prescription-drug-abuse/tuinal/ permanent;
            rewrite ^/tramadol/withdrawal/?$ https://$host/prescription-drug-abuse/tramadol/withdrawal/ permanent;
            rewrite ^/tramadol/increasing-effects/?$ https://$host/prescription-drug-abuse/tramadol/increasing-effects/ permanent;
            rewrite ^/tramadol/?$ https://$host/prescription-drug-abuse/tramadol/ permanent;
            rewrite ^/roxicodone/withdrawal/?$ https://$host/prescription-drug-abuse/roxicodone/withdrawal/ permanent;
            rewrite ^/roxicodone/?$ https://$host/prescription-drug-abuse/roxicodone/ permanent;
            rewrite ^/ritalin/withdrawal/?$ https://$host/prescription-drug-abuse/ritalin/withdrawal/ permanent;
            rewrite ^/ritalin/treatment-for-adhd/?$ https://$host/prescription-drug-abuse/ritalin/treatment-for-adhd/ permanent;
            rewrite ^/ritalin/addicted/?$ https://$host/prescription-drug-abuse/ritalin/addicted/ permanent;
            rewrite ^/ritalin/?$ https://$host/prescription-drug-abuse/ritalin/ permanent;
            rewrite ^/phenibut/?$ https://$host/prescription-drug-abuse/phenibut/ permanent;
            rewrite ^/percocet/withdrawal/?$ https://$host/prescription-drug-abuse/percocet/withdrawal/ permanent;
            rewrite ^/percocet/vs-oxycodone/?$ https://$host/prescription-drug-abuse/percocet/vs-oxycodone/ permanent;
            rewrite ^/percocet/?$ https://$host/prescription-drug-abuse/percocet/ permanent;
            rewrite ^/oxycontin/vs-oxycodone/?$ https://$host/prescription-drug-abuse/oxycontin/vs-oxycodone/ permanent;
            rewrite ^/oxycontin/oxy-and-alcohol/?$ https://$host/prescription-drug-abuse/oxycontin/oxy-and-alcohol/ permanent;
            rewrite ^/oxycontin/detox/?$ https://$host/prescription-drug-abuse/oxycontin/detox/ permanent;
            rewrite ^/oxycontin/?$ https://$host/prescription-drug-abuse/oxycontin/ permanent;
            rewrite ^/otc-drugs/?$ https://$host/prescription-drug-abuse/otc-drugs/ permanent;
            rewrite ^/opiates/opioid-epidemic/?$ https://$host/prescription-drug-abuse/opiates/opioid-epidemic/ permanent;
            rewrite ^/opiates/opioid-addiction/?$ https://$host/prescription-drug-abuse/opiates/opioid-addiction/ permanent;
            rewrite ^/opiates/mixing-with-alcohol/?$ https://$host/prescription-drug-abuse/opiates/mixing-with-alcohol/ permanent;
            rewrite ^/opiates/?$ https://$host/prescription-drug-abuse/opiates/ permanent;
            rewrite ^/opana/side-effects/?$ https://$host/prescription-drug-abuse/opana/side-effects/ permanent;
            rewrite ^/opana/shooting-and-snorting/?$ https://$host/prescription-drug-abuse/opana/shooting-and-snorting/ permanent;
            rewrite ^/opana/how-long/?$ https://$host/prescription-drug-abuse/opana/how-long/ permanent;
            rewrite ^/opana/?$ https://$host/prescription-drug-abuse/opana/ permanent;
            rewrite ^/nitrous-oxide/overdose/?$ https://$host/prescription-drug-abuse/nitrous-oxide/overdose/ permanent;
            rewrite ^/nitrous-oxide/?$ https://$host/prescription-drug-abuse/nitrous-oxide/ permanent;
            rewrite ^/morphine/?$ https://$host/prescription-drug-abuse/morphine/ permanent;
            rewrite ^/klonopin/withdrawal/?$ https://$host/prescription-drug-abuse/klonopin/withdrawal/ permanent;
            rewrite ^/klonopin/?$ https://$host/prescription-drug-abuse/klonopin/ permanent;
            rewrite ^/ketamine/what-is-ketamine/?$ https://$host/prescription-drug-abuse/ketamine/what-is-ketamine/ permanent;
            rewrite ^/ketamine/overdose/?$ https://$host/prescription-drug-abuse/ketamine/overdose/ permanent;
            rewrite ^/ketamine/?$ https://$host/prescription-drug-abuse/ketamine/ permanent;
            rewrite ^/etizolam/?$ https://$host/prescription-drug-abuse/etizolam/ permanent;
            rewrite ^/dxm/?$ https://$host/prescription-drug-abuse/dxm/ permanent;
            rewrite ^/apixaban/?$ https://$host/prescription-drug-abuse/ permanent;
            rewrite ^/prescription-drug-abuse/apixaban/?$ https://$host/prescription-drug-abuse/ permanent;
            rewrite ^/ambien/side-effects/?$ https://$host/prescription-drug-abuse/ambien/side-effects/ permanent;
            rewrite ^/ambien/restoril-vs-ambien/?$ https://$host/prescription-drug-abuse/ambien/restoril-vs-ambien/ permanent;
            rewrite ^/ambien/?$ https://$host/prescription-drug-abuse/ambien/ permanent;
            rewrite ^/adderall/working-out-safe/?$ https://$host/prescription-drug-abuse/adderall/working-out-safe/ permanent;
            rewrite ^/adderall/vs-vyvanse/?$ https://$host/prescription-drug-abuse/adderall/vs-vyvanse/ permanent;
            rewrite ^/adderall/tolerance/?$ https://$host/prescription-drug-abuse/adderall/tolerance/ permanent;
            rewrite ^/adderall/psychosis-symptoms/?$ https://$host/prescription-drug-abuse/adderall/psychosis-symptoms/ permanent;
            rewrite ^/adderall/neurotoxicity/?$ https://$host/prescription-drug-abuse/adderall/neurotoxicity/ permanent;
            rewrite ^/adderall/long-term-effects/?$ https://$host/prescription-drug-abuse/adderall/long-term-effects/ permanent;
            rewrite ^/adderall/heart-problems/?$ https://$host/prescription-drug-abuse/adderall/heart-problems/ permanent;
            rewrite ^/adderall/dependence/?$ https://$host/prescription-drug-abuse/adderall/dependence/ permanent;
            rewrite ^/adderall/comedown/?$ https://$host/prescription-drug-abuse/adderall/comedown/ permanent;
            rewrite ^/adderall/?$ https://$host/prescription-drug-abuse/adderall/ permanent;
            rewrite ^/yoga/?$ https://$host/addiction-treatment/yoga/ permanent;
            rewrite ^/treatment/?$ https://$host/addiction-treatment/ permanent;
            rewrite ^/sober-living/what-to-look-for/?$ https://$host/addiction-treatment/sober-living/what-to-look-for/ permanent;
            rewrite ^/sober-living/rules/?$ https://$host/addiction-treatment/sober-living/rules/ permanent;
            rewrite ^/sober-living/how-long/?$ https://$host/addiction-treatment/sober-living/how-long/ permanent;
            rewrite ^/sober-living/cost/?$ https://$host/addiction-treatment/sober-living/cost/ permanent;
            rewrite ^/sober-living/?$ https://$host/addiction-treatment/sober-living/ permanent;
            rewrite ^/seniors/treatment-options/?$ https://$host/addiction-treatment/seniors/treatment-options/ permanent;
            rewrite ^/seniors/aarp/?$ https://$host/addiction-treatment/seniors/aarp/ permanent;
            rewrite ^/seniors/?$ https://$host/addiction-treatment/seniors/ permanent;
            rewrite ^/paying-for-treatment/insurance/?$ https://$host/addiction-treatment/paying-for-treatment/insurance/ permanent;
            rewrite ^/paying-for-treatment/inpatient-outpatient-cost-difference/?$ https://$host/addiction-treatment/paying-for-treatment/inpatient-outpatient-cost-difference/ permanent;
            rewrite ^/paying-for-treatment/inpatient-no-insurance/?$ https://$host/addiction-treatment/paying-for-treatment/inpatient-no-insurance/ permanent;
            rewrite ^/paying-for-treatment/?$ https://$host/addiction-treatment/paying-for-treatment/ permanent;
            rewrite ^/outpatient-treatment/residential/?$ https://$host/addiction-treatment/outpatient-treatment/residential/ permanent;
            rewrite ^/outpatient-treatment/?$ https://$host/addiction-treatment/outpatient-treatment/ permanent;
            rewrite ^/nutrition/?$ https://$host/addiction-treatment/nutrition permanent;
            rewrite ^/motivational-interviewing/stages-of-change/?$ https://$host/addiction-treatment/motivational-interviewing/stages-of-change/ permanent;
            rewrite ^/motivational-interviewing/?$ https://$host/addiction-treatment/motivational-interviewing/ permanent;
            rewrite ^/luxury-vs-regular-rehab/effective-curbing-addiction/?$ https://$host/addiction-treatment/luxury-vs-regular-rehab/effective-curbing-addiction/ permanent;
            rewrite ^/luxury-vs-regular-rehab/covered-by-insurance/?$ https://$host/addiction-treatment/luxury-vs-regular-rehab/covered-by-insurance/ permanent;
            rewrite ^/luxury-vs-regular-rehab/choosing-a-center/?$ https://$host/addiction-treatment/luxury-vs-regular-rehab/choosing-a-center/ permanent;
            rewrite ^/luxury-vs-regular-rehab/?$ https://$host/addiction-treatment/luxury-vs-regular-rehab/ permanent;
            rewrite ^/intervention/?$ https://$host/addiction-treatment/intervention/ permanent;
            rewrite ^/alcohol-abuse/inpatient/?$ https://$host/addiction-treatment/inpatient/alcohol-abuse permanent;
            rewrite ^/inpatient/?$ https://$host/addiction-treatment/inpatient/ permanent;
            rewrite ^/experiential-therapy/wilderness-adventure/?$ https://$host/addiction-treatment/experiential-therapy/wilderness-adventure permanent;
            rewrite ^/experiential-therapy/techniques/?$ https://$host/addiction-treatment/experiential-therapy/techniques permanent;
            rewrite ^/experiential-therapy/music/?$ https://$host/addiction-treatment/experiential-therapy/music permanent;
            rewrite ^/experiential-therapy/art/?$ https://$host/addiction-treatment/experiential-therapy/art permanent;
            rewrite ^/experiential-therapy/animal-assisted/?$ https://$host/addiction-treatment/experiential-therapy/animal-assisted permanent;
            rewrite ^/experiential-therapy/?$ https://$host/addiction-treatment/experiential-therapy/ permanent;
            rewrite ^/drug-therapy/relapse-prevention/?$ https://$host/addiction-treatment/drug-therapy/relapse-prevention permanent;
            rewrite ^/drug-therapy/rational-emotive-behavior/?$ https://$host/addiction-treatment/drug-therapy/rational-emotive-behavior permanent;
            rewrite ^/drug-therapy/psychotherapy/?$ https://$host/addiction-treatment/drug-therapy/psychotherapy permanent;
            rewrite ^/drug-therapy/individual-vs-group/?$ https://$host/addiction-treatment/drug-therapy/individual-vs-group/ permanent;
            rewrite ^/drug-therapy/holistic/?$ https://$host/addiction-treatment/drug-therapy/holistic permanent;
            rewrite ^/drug-therapy/group-activities/?$ https://$host/addiction-treatment/drug-therapy/group-activities permanent;
            rewrite ^/drug-therapy/family/?$ https://$host/addiction-treatment/drug-therapy/family permanent;
            rewrite ^/drug-therapy/extended-care/?$ https://$host/addiction-treatment/drug-therapy/extended-care permanent;
            rewrite ^/drug-therapy/emdr/?$ https://$host/addiction-treatment/drug-therapy/emdr permanent;
            rewrite ^/drug-therapy/dbt/techniques/?$ https://$host/addiction-treatment/drug-therapy/dbt/techniques permanent;
            rewrite ^/drug-therapy/dbt/?$ https://$host/addiction-treatment/drug-therapy/dbt/ permanent;
            rewrite ^/drug-therapy/couples/?$ https://$host/addiction-treatment/drug-therapy/couples/ permanent;
            rewrite ^/drug-therapy/contingency-management/?$ https://$host/addiction-treatment/drug-therapy/contingency-management/ permanent;
    /etc/nginx/conf.d/redirects/02.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/drug-therapy/cognitive-behavioral/depression/?$ https://$host/addiction-treatment/drug-therapy/cognitive-behavioral/depression permanent;
            rewrite ^/drug-therapy/cognitive-behavioral/?$ https://$host/addiction-treatment/drug-therapy/cognitive-behavioral/ permanent;
            rewrite ^/drug-therapy/?$ https://$host/addiction-treatment/drug-therapy/ permanent;
            rewrite ^/detox/withdrawal-symptoms/?$ https://$host/addiction-treatment/detox/withdrawal-symptoms/ permanent;
            rewrite ^/detox/typical-day/?$ https://$host/addiction-treatment/detox/typical-day/ permanent;
            rewrite ^/suboxone/withdrawal/?$ https://$host/addiction-treatment/detox/suboxone/withdrawal/ permanent;
            rewrite ^/suboxone/vs-methadone/?$ https://$host/addiction-treatment/detox/suboxone/vs-methadone/ permanent;
            rewrite ^/suboxone/used-for-depression/?$ https://$host/addiction-treatment/detox/suboxone/used-for-depression/ permanent;
            rewrite ^/suboxone/subutex/?$ https://$host/addiction-treatment/detox/suboxone/subutex/ permanent;
            rewrite ^/suboxone/?$ https://$host/addiction-treatment/detox/suboxone/ permanent;
            rewrite ^/co-occurring-disorders/depression/paxil/?$ https://$host/addiction-treatment/detox/paxil-and-co-occuring-disorders/ permanent;
            rewrite ^/opiates/narcan/?$ https://$host/addiction-treatment/detox/narcan/ permanent;
            rewrite ^/drug-therapy/modafinil/tolerance/?$ https://$host/addiction-treatment/detox/modafinil/tolerance/ permanent;
            rewrite ^/drug-therapy/modafinil/?$ https://$host/addiction-treatment/detox/modafinil/ permanent;
            rewrite ^/methadone/withdrawal/?$ https://$host/addiction-treatment/detox/methadone/withdrawal/ permanent;
            rewrite ^/methadone/side-effects/?$ https://$host/addiction-treatment/detox/methadone/side-effects/ permanent;
            rewrite ^/methadone/?$ https://$host/addiction-treatment/detox/methadone/ permanent;
            rewrite ^/detox/insurance/?$ https://$host/addiction-treatment/detox/insurance/ permanent;
            rewrite ^/gabapentin/?$ https://$host/addiction-treatment/detox/gabapentin/ permanent;
            rewrite ^/detox/finding-a-center/?$ https://$host/addiction-treatment/detox/finding-a-center/ permanent;
            rewrite ^/opiates/dxm-for-withdrawal/?$ https://$host/addiction-treatment/detox/dxm-for-withdrawal/ permanent;
            rewrite ^/detox/drug-relapse/?$ https://$host/addiction-treatment/detox/drug-relapse/ permanent;
            rewrite ^/detox/common-medications/?$ https://$host/addiction-treatment/detox/common-medications/ permanent;
            rewrite ^/detox/cold-turkey/?$ https://$host/addiction-treatment/detox/cold-turkey/ permanent;
            rewrite ^/clonidine/?$ https://$host/addiction-treatment/detox/clonidine/ permanent;
            rewrite ^/alcohol-abuse/campral/?$ https://$host/addiction-treatment/detox/campral/ permanent;
            rewrite ^/drug-therapy/baclofen/?$ https://$host/addiction-treatment/detox/baclofen/ permanent;
            rewrite ^/detox/avoiding-triggers/?$ https://$host/addiction-treatment/detox/avoiding-triggers/ permanent;
            rewrite ^/detox/at-home-dangers/?$ https://$host/addiction-treatment/detox/at-home-dangers/ permanent;
            rewrite ^/detox/?$ https://$host/addiction-treatment/detox/ permanent;
            rewrite ^/mindfulness-practice/?$ https://$host/addiction-treatment/aftercare/mindfulness-practice/ permanent;
            rewrite ^/aftercare/?$ https://$host/addiction-treatment/aftercare/ permanent;
            rewrite ^/marijuana/?$ https://$host/substance-abuse/marijuana/ permanent;
            rewrite ^/programs/sober-living/?$ https://$host/addiction-treatment-ms/sober-living/ permanent;
            rewrite ^/substance-abuse/synthetic-drugs/rivaroxaban/signs-abuse/?$ https://$host/prescription-drug-abuse/ permanent;
            rewrite ^/treatment/?$ https://$host/addiction-treatment/ permanent;
            rewrite ^/program/12-step-program/?$ https://$host/addiction-treatment-ms/12-step-program/ permanent;
            # FACILITY-919
            rewrite ^/about/newsletters/?$ https://$host/about/ permanent;
            rewrite ^/addiction-treatment-ms/what-to-expect/faq/?$ https://$host/addiction-treatment-ms/admissions/what-to-expect/faq/ permanent;
            rewrite ^/outpatient/?$ https://$host/program/outpatient-services/ permanent;
            rewrite ^/2013/10/?$ https://$host/blog/ permanent;
            rewrite ^/2013/10/173/?$ https://$host/blog/ permanent;
            rewrite ^/2014-maap-conference/?$ https://$host/2014-maap-conference/ permanent;
            rewrite ^/2014/01/?$ https://$host/blog/ permanent;
            rewrite ^/2014/01/tupelos-daily-journal-features-oxford-centre-expansion/?$ https://$host/blog/tupelos-daily-journal-features-oxford-centre-expansion/ permanent;
            rewrite ^/2014/03/?$ https://$host/blog/ permanent;
            rewrite ^/2014/03/family-program-key-in-recovery-approach/?$ https://$host/blog/family-program-key-in-recovery-approach/ permanent;
            rewrite ^/2014/04/?$ https://$host/blog/ permanent;
            rewrite ^/2014/04/networking-luncheon-connects-mental-health-professionals/?$ https://$host/blog/networking-luncheon-connects-mental-health-professionals/ permanent;
            rewrite ^/2014/04/prescription-drug-abuse-topic-of-talks/?$ https://$host/blog/prescription-drug-abuse-topic-of-talks/ permanent;
            rewrite ^/2014/06/?$ https://$host/blog/ permanent;
            rewrite ^/2014/06/oxford-centre-featured-in-national-trade-magazine/?$ https://$host/blog/oxford-centre-featured-in-national-trade-magazine/ permanent;
            rewrite ^/2014/06/oxford-centre-featured-in-national-trade-magazine/www.addictionpro.com/article/facility-design-fits-its-surroundings?$ https://$host/blog/oxford-centre-featured-in-national-trade-magazine/www.addictionpro.com/article/facility-design-fits-its-surroundings permanent;
            rewrite ^/2014/07/?$ https://$host/blog/ permanent;
            rewrite ^/2014/07/five-myths-about-addiction/?$ https://$host/blog/five-myths-about-addiction/ permanent;
            rewrite ^/2014/08/?$ https://$host/blog/ permanent;
            rewrite ^/2014/08/oxford-centre-hosts-mississippi-addiction-professionals/?$ https://$host/blog/oxford-centre-hosts-mississippi-addiction-professionals/ permanent;
            rewrite ^/2014/09/?$ https://$host/blog/ permanent;
            rewrite ^/2014/09/equestrian-center-cabins-take-shape/?$ https://$host/blog/equestrian-center-cabins-take-shape/ permanent;
            rewrite ^/2014/09/mental-health-professionals-gather-to-network/?$ https://$host/blog/mental-health-professionals-gather-to-network/ permanent;
            rewrite ^/2014/10/?$ https://$host/blog/ permanent;
            rewrite ^/2014/10/patients-recommend-the-oxford-centre/?$ https://$host/blog/patients-recommend-the-oxford-centre/ permanent;
            rewrite ^/2014/10/therapeutic-recreation-specialist-joins-staff/?$ https://$host/blog/therapeutic-recreation-specialist-joins-staff/ permanent;
            rewrite ^/2014/11/?$ https://$host/blog/ permanent;
            rewrite ^/2014/11/addiction-trauma/?$ https://$host/blog/addiction-trauma/ permanent;
            rewrite ^/2014/12/?$ https://$host/blog/ permanent;
            rewrite ^/2014/12/a-portrait-of-trauma-anns-story/?$ https://$host/blog/a-portrait-of-trauma-anns-story/ permanent;
            rewrite ^/2014/12/crawford-named-employee-of-the-year/?$ https://$host/blog/crawford-named-employee-of-the-year/ permanent;
            rewrite ^/2014/12/sign-up-for-alumni-family-newsletter/?$ https://$host/blog/sign-up-for-alumni-family-newsletter/ permanent;
            rewrite ^/2015/01/?$ https://$host/blog/ permanent;
            rewrite ^/2015/01/garry-reifers-caps-respected-career/?$ https://$host/blog/garry-reifers-caps-respected-career/ permanent;
            rewrite ^/2015/01/new-cabins-equestrian-center-debut/?$ https://$host/blog/new-cabins-equestrian-center-debut/ permanent;
            rewrite ^/2015/01/young-adults-addiction/?$ https://$host/blog/young-adults-addiction/ permanent;
            rewrite ^/2015/02/?$ https://$host/blog/ permanent;
            rewrite ^/2015/02/grounded-in-recovery-slowly-but-surely/?$ https://$host/blog/grounded-in-recovery-slowly-but-surely/ permanent;
            rewrite ^/2015/03/?$ https://$host/blog/ permanent;
            rewrite ^/2015/03/continuum-of-care-expands-for-families/?$ https://$host/blog/continuum-of-care-expands-for-families/ permanent;
            rewrite ^/2015/03/older-adults-addiction/?$ https://$host/blog/older-adults-addiction/ permanent;
            rewrite ^/2015/04/?$ https://$host/blog/ permanent;
            rewrite ^/2015/04/facing-recovery-as-an-older-adult/?$ https://$host/blog/facing-recovery-as-an-older-adult/ permanent;
            rewrite ^/2015/04/new-outpatient-office-serves-memphis-area/?$ https://$host/blog/new-outpatient-office-serves-memphis-area/ permanent;
            rewrite ^/2015/05/?$ https://$host/blog/ permanent;
            rewrite ^/2015/05/a-direct-line-to-recovery/?$ https://$host/blog/a-direct-line-to-recovery/ permanent;
            rewrite ^/2015/05/for-lasting-sobriety-take-time-to-practice/?$ https://$host/blog/for-lasting-sobriety-take-time-to-practice/ permanent;
            rewrite ^/2015/06/?$ https://$host/blog/ permanent;
            rewrite ^/2015/06/embracing-new-horizons/?$ https://$host/blog/embracing-new-horizons/ permanent;
            rewrite ^/2015/06/past-regrets-become-asset-in-recovery/?$ https://$host/blog/past-regrets-become-asset-in-recovery/ permanent;
            rewrite ^/2015/07/?$ https://$host/blog/ permanent;
            rewrite ^/2015/07/addiction-the-family/?$ https://$host/blog/addiction-the-family/ permanent;
            rewrite ^/2015/08/?$ https://$host/blog/ permanent;
            rewrite ^/2015/08/a-young-mother-gets-a-second-chance/?$ https://$host/blog/a-young-mother-gets-a-second-chance/ permanent;
            rewrite ^/2015/08/medicine-and-care-go-hand-in-hand/?$ https://$host/blog/medicine-and-care-go-hand-in-hand/ permanent;
            rewrite ^/2015/08/sons-recovery-restores-family-relationships/?$ https://$host/blog/sons-recovery-restores-family-relationships/ permanent;
            rewrite ^/2015/09/?$ https://$host/blog/ permanent;
            rewrite ^/2015/09/behind-the-front-desk-a-beacon-of-hope/?$ https://$host/blog/behind-the-front-desk-a-beacon-of-hope/ permanent;
            rewrite ^/2015/09/understanding-addiction-upcoming-events/?$ https://$host/blog/understanding-addiction-upcoming-events/ permanent;
            rewrite ^/2015/1/new-cabins-equestrian-center-debut?$ https://$host/blog/new-cabins-equestrian-center-debut permanent;
            rewrite ^/2015/1/new-cabins-equestrian-center-debut/?$ https://$host/blog/new-cabins-equestrian-center-debut/ permanent;
            rewrite ^/2015/10/?$ https://$host/blog/ permanent;
            rewrite ^/2015/10/addiction-the-physician/?$ https://$host/blog/addiction-the-physician/ permanent;
            rewrite ^/2015/10/alumni-reunion-lineup-features-singer-songwriter/?$ https://$host/blog/alumni-reunion-lineup-features-singer-songwriter/ permanent;
            rewrite ^/2015/10/creative-expression/?$ https://$host/blog/creative-expression/ permanent;
            rewrite ^/2015/10/weekly-support-for-families/?$ https://$host/blog/weekly-support-for-families/ permanent;
            rewrite ^/2015/11/?$ https://$host/blog/ permanent;
            rewrite ^/2015/11/cuban-empathy-empowers-others-to-recovery/?$ https://$host/blog/cuban-empathy-empowers-others-to-recovery/ permanent;
            rewrite ^/2015/11/mark-lundholm-healing-through-humor/?$ https://$host/blog/mark-lundholm-healing-through-humor/ permanent;
            rewrite ^/2015/11/return-to-oc-campus-a-time-to-reflect/?$ https://$host/blog/return-to-oc-campus-a-time-to-reflect/ permanent;
            rewrite ^/2015/11/this-place-saved-my-life/?$ https://$host/blog/this-place-saved-my-life/ permanent;
            rewrite ^/2015/11/tupelo-professionals-gather-for-addiction-medicine-update/?$ https://$host/blog/tupelo-professionals-gather-for-addiction-medicine-update/ permanent;
            rewrite ^/2015/12/?$ https://$host/blog/ permanent;
            rewrite ^/2015/12/5-ways-to-handle-the-holidays/?$ https://$host/blog/5-ways-to-handle-the-holidays/ permanent;
            rewrite ^/2015/12/nobody-does-anything-alone/?$ https://$host/blog/nobody-does-anything-alone/ permanent;
            rewrite ^/2016/01/?$ https://$host/blog/ permanent;
            rewrite ^/2016/01/addiction-early-recovery/?$ https://$host/blog/addiction-early-recovery/ permanent;
            rewrite ^/2016/01/in-discharge-planning-hope-is-contagious/?$ https://$host/blog/in-discharge-planning-hope-is-contagious/ permanent;
            rewrite ^/2016/01/no-matter-your-age/?$ https://$host/blog/no-matter-your-age/ permanent;
            rewrite ^/2016/02/?$ https://$host/blog/ permanent;
            rewrite ^/2016/02/listen-again-to-reifers-most-requested-talks/?$ https://$host/blog/listen-again-to-reifers-most-requested-talks/ permanent;
            rewrite ^/2016/02/the-problem-with-pot/?$ https://$host/blog/the-problem-with-pot/ permanent;
            rewrite ^/2016/03/?$ https://$host/blog/ permanent;
            rewrite ^/2016/03/2774/?$ https://$host/blog/ permanent;
            rewrite ^/2016/03/2790/?$ https://$host/blog/ permanent;
            rewrite ^/2016/03/in-recovery-recovering-self-worth/?$ https://$host/blog/in-recovery-recovering-self-worth/ permanent;
            rewrite ^/2016/03/ive-found-my-place-in-life/?$ https://$host/blog/ive-found-my-place-in-life/ permanent;
            rewrite ^/2016/04/?$ https://$host/blog/ permanent;
