files:
    /etc/nginx/conf.d/redirects/03.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/facilities/olive-branch/?$ https://$host/facilities/ permanent;
            rewrite ^/apixaban/withdrawal-symptoms/?$ https://$host/abuse/ permanent;
            rewrite ^/apixaban/signs-of-abuse/?$ https://$host/abuse/ permanent;
            rewrite ^/faq/?$ https://$host/admissions/what-to-expect/faq/ permanent;
            rewrite ^/families-residential-2/?$ https://$host/addiction-treatment-ms/what-to-expect/families/ permanent;
            #SEO-967
            rewrite ^/substance-abuse/marijuana/addictive/?$ https://$host/substance-abuse/marijuana/ permanent;
            #FACILITY-1088
            rewrite ^/hippa-policy/?$ https://$host/hipaa-policy/ permanent;
            #FACILITY-1432
            rewrite ^/events/?$ https://$host/addiction-blog/ permanent;
            rewrite ^/event/ https://$host/addiction-blog/ permanent;
            #FACILITY-1473
            rewrite ^/events/category/outpatient-services/?$ https://$host/addiction-treatment-ms/oxford/ permanent;
            rewrite ^/venue/oxford-outpatient-office/2/?$ https://$host/addiction-treatment-ms/oxford/ permanent;
            rewrite ^/about/addiction-blog/2774/?$ https://$host/addiction-blog/ permanent;
            #FACILITY-1726
            rewrite ^/hope/?$ https://$host/ permanent;
            rewrite ^/tv-campaign/?$ https://$host/ permanent;
            #FACILITY-1855
            rewrite ^/alcohol-drug-rehab-in-missisppi/?$ https://$host/alcohol-drug-rehab-in-mississippi/ permanent;
            #FACILITY-1893
            rewrite ^/about/experiential-learning/?$ https://$host/about/careers-at-oxford/ permanent;
            rewrite ^/about/medical-staff/?$ https://$host/about/careers-at-oxford/ permanent;
            rewrite ^/about/clinical-staff/?$ https://$host/about/careers-at-oxford/ permanent;
            rewrite ^/about/outreach/?$ https://$host/about/careers-at-oxford/ permanent;
            rewrite ^/bht/?$ https://$host/about/careers-at-oxford/ permanent;
            rewrite ^/addiction-treatment/drug-therapy/dbt/techniques/?$ https://$host/addiction-treatment/drug-therapy/dbt/ permanent;
            #FACILITY-2875
            rewrite ^/about/addiction-blog/college-drug-arrest-statistics/?$ https://$host/blog/college-drug-arrest-statistics/ permanent;
            #FACILITY-2705
            rewrite ^/about/addiction-blog/$ https://$host/addiction-blog/ permanent;
            rewrite ^/about/addiction-blog/(.+) https://$host/blog/$1 permanent;
            rewrite ^/about/addiction-blog/tag/$ https://$host/blog/tag/ permanent;
            rewrite ^/about/addiction-blog/tag/(.+) https://$host/blog/tag/$1 permanent;
            #FACILITY-2978
            rewrite ^/oxford/?$ https://$host/facilities/oxford/ permanent;
            #FACILITY-3093
            rewrite ^/addiction-blog/top-10-oxford/?$ https://$host/blog/top-10-oxford/ permanent;
            #FACILITY-3426
            rewrite ^/addiction-treatment-ms/features-oxford/?$ https://$host/addiction-treatment-ms/oxford/ permanent;
            rewrite ^/addiction-treatment-ms/sober-living/?$ https://$host/addiction-treatment-ms/oxford/ permanent;
            rewrite ^/addiction-treatment-ms/residential-treatment/?$ https://$host/alcohol-drug-rehab-in-mississippi/ permanent;
            #FACILITY-3570
            rewrite ^/about/administration/?$ https://$host/about/ permanent;
            #FACILITY-3677
            rewrite ^/contributors/mark-sawyer/?$ https://$host/about/ permanent;
            #FACILITY-3754
            rewrite ^/contributor/?$ https://$host/contributors/ permanent;
            rewrite ^/blog/mississippi-banning-opioid-substitute-kratom-deemed-dangerous/?$ https://$host/substance-abuse/kratom/ permanent;
            #FACILITY-4431
            rewrite ^/prescription-drug-abuse/tramadol/?$ https://$host/prescription-drug-abuse/tramadol/increasing-effects/ permanent;
            rewrite ^/prescription-drug-abuse/vicodin/and-alcohol/?$ https://$host/prescription-drug-abuse/opiates/hydrocodone/vicodin/ permanent;
            rewrite ^/prescription-drug-abuse/opana/shooting-and-snorting/?$ https://$host/prescription-drug-abuse/opiates/ permanent;
            rewrite ^/prescription-drug-abuse/opana/side-effects/?$ https://$host/prescription-drug-abuse/opiates/ permanent;
            rewrite ^/prescription-drug-abuse/opiates/mixing-with-alcohol/?$ https://$host/prescription-drug-abuse/opiates/ permanent;
            rewrite ^/prescription-drug-abuse/opiates/opioid-addiction/?$ https://$host/prescription-drug-abuse/opiates/ permanent;
            rewrite ^/prescription-drug-abuse/opiates/opioid-epidemic/?$ https://$host/prescription-drug-abuse/opiates/ permanent;
            rewrite ^/prescription-drug-abuse/oxycontin/detox/?$ https://$host/prescription-drug-abuse/opiates/oxycodone/ permanent;
            rewrite ^/prescription-drug-abuse/oxycontin/oxy-and-alcohol/?$ https://$host/prescription-drug-abuse/opiates/oxycodone/ permanent;
            rewrite ^/prescription-drug-abuse/painkillers/?$ https://$host/prescription-drug-abuse/opiates/ permanent;
            rewrite ^/prescription-drug-abuse/percocet/?$ https://$host/prescription-drug-abuse/opiates/oxycodone/percocet/ permanent;
            rewrite ^/prescription-drug-abuse/percocet/withdrawal/?$ https://$host/prescription-drug-abuse/opiates/oxycodone/percocet/ permanent;
            rewrite ^/prescription-drug-abuse/roxicodone/?$ https://$host/prescription-drug-abuse/opiates/oxycodone/ permanent;
            rewrite ^/prescription-drug-abuse/roxicodone/withdrawal/?$ https://$host/prescription-drug-abuse/opiates/oxycodone/ permanent;
            rewrite ^/prescription-drug-abuse/tramadol/withdrawal/?$ https://$host/prescription-drug-abuse/opiates/tramadol/ permanent;
            rewrite ^/prescription-drug-abuse/vicodin/detox/?$ https://$host/prescription-drug-abuse/opiates/hydrocodone/vicodin/ permanent;
            rewrite ^/prescription-drug-abuse/vicodin/vs-percocet/?$ https://$host/prescription-drug-abuse/opiates/hydrocodone/vicodin/ permanent;
            rewrite ^/prescription-drug-abuse/percocet/vs-oxycodone/?$ https://$host/prescription-drug-abuse/opiates/oxycodone/percocet/ permanent;
            rewrite ^/prescription-drug-abuse/morphine/?$ https://$host/prescription-drug-abuse/opiates/morphine/ permanent;
            rewrite ^/prescription-drug-abuse/vicodin/?$ https://$host/prescription-drug-abuse/opiates/hydrocodone/ permanent;
            rewrite ^/prescription-drug-abuse/oxycontin/?$ https://$host/prescription-drug-abuse/opiates/oxycodone/ permanent;
            #FACILITY-4491
            rewrite ^/substance-abuse/heroin/shooting/?$ https://$host/substance-abuse/heroin/methods-of-use/ permanent;
            rewrite ^/substance-abuse/heroin/snorting/?$ https://$host/substance-abuse/heroin/methods-of-use/ permanent;
            rewrite ^/substance-abuse/heroin/withdrawal-timelines/?$ https://$host/substance-abuse/heroin/ permanent;
            rewrite ^/blog/heroin-in-memphis/?$ https://$host/substance-abuse/heroin/ permanent;
            #FACILITY-4493
            rewrite ^/addiction-blog/college-drug-arrest-statistics/?$ https://$host/blog/college-drug-arrest-statistics/ permanent;
            rewrite ^/addiction-blog/tag/?$ https://$host/blog/tag/ permanent;
            #FACILITY-917
            rewrite ^/addiction-treatment-ms/admissions/what-to-expect/?$ https://$host/addiction-treatment-ms/admissions/ permanent;
            #FACILITY-4784
            rewrite ^/addiction-treatment-ms/admissions/what-to-expect/families/?$ https://$host/addiction-treatment-ms/admissions/families/ permanent;
            rewrite ^/addiction-treatment-ms/admissions/what-to-expect/families/after-rehab/?$ https://$host/addiction-treatment-ms/admissions/families/after-rehab/ permanent;
            rewrite ^/addiction-treatment-ms/admissions/what-to-expect/faq/?$ https://$host/addiction-treatment-ms/admissions/faq/ permanent;
            rewrite ^/addiction-treatment-ms/admissions/what-to-expect/patients/?$ https://$host/addiction-treatment-ms/admissions/patients/ permanent;
            #FACILITY-4495
            rewrite ^/contributors/glenn-waller/?$ https://$host/staff/ permanent;
            #FACILITY-5074
            rewrite ^/addiction-treatment/detox/insurance/?$ https://$host/addiction-treatment/paying-for-treatment/insurance/detox/ permanent;
            rewrite ^/addiction-treatment/luxury-vs-regular-rehab/covered-by-insurance/?$ https://$host/addiction-treatment/paying-for-treatment/insurance/luxury-rehab/ permanent;
            rewrite ^/addiction-treatment/paying-for-treatment/inpatient-outpatient-cost-difference/?$ https://$host/addiction-treatment/paying-for-treatment/insurance/inpatient-vs-outpatient-cost/ permanent;
            rewrite ^/addiction-treatment/paying-for-treatment/inpatient-no-insurance/?$ https://$host/addiction-treatment/paying-for-treatment/insurance/inpatient/ permanent;
